$mainColor: #0C0C0C !default;
$textColor: #f8f8f8;

.body {
  background: $mainColor;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}


/*----------------------------------------------------
  ナビゲーション
----------------------------------------------------*/

/*----------------------------------------------------
  カテゴリメニュー
----------------------------------------------------*/
.category-menu {
  > .menu {
    list-style: none;
    overflow: hidden;
  }
  > .category {
    width: 250px;
  }
}


/*----------------------------------------------------
  記事リスト
----------------------------------------------------*/
.article-card {
  > .card {
    color: $textColor;
  }
}

/*-------------------
  カテゴリ別記事リスト
-------------------*/
.category-title {
  > .name {
    color: $textColor;
  }
}