$mainColor: #121212 !default;

.body {
  background: $mainColor
}

/*----------------------------------------------------
  カテゴリ別記事リスト
----------------------------------------------------*/
.category-article-list {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}