meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")

title= pageTitle

// custom CSS
link(rel='stylesheet', href='css/common.css')
// UIkit CSS
link(rel='stylesheet', href='css/uikit.min.css')

// UIkit JS
script(src='js/uikit.min.js')
script(src='js/uikit-icons.min.js')