header
  div.uk-section-xsmall.uk-section-default(uk-sticky='show-on-up: true; animation: uk-aimation-slide-top;')
    div.uk-container.uk-container-expand
      nav.uk-navbar-container.uk-navbar-transparent(uk-navbar='')
        div.uk-navbar-center
          a.uk-navbar-item(href='#') site title
        div.uk-navbar-right
          a(href='#offcanvas-right', uk-icon='icon: grid', uk-toggle='')