doctype html
html(lang="ja")
  head
    include head
  body
    // header
    include header
    // tab
    include tab
    // nav
    include nav

    // contents
    block contents

    // footer
    include footer.pug