nav.navbar-container.uk-navbar(style='margin-bottom: 50px; z-index: 980;', uk-sticky='show-on-up: true; animation: uk-animation-slide-top; bottom: #bottom')
  div.uk-navbar-left
    a.uk-navbar-item.uk-logo(href='#') Logo
  div.category-menu.uk-navbar-right
    ul.menu.uk-navbar-nav
      li.category.uk-active
        a(href='') nav
      li.category.uk-parent
        a(href='') nav
      li.category
        a(href='') nav