nav.navbar-container.uk-navbar
  div.uk-navbar-left
    a.uk-navbar-item.uk-logo(href='#') Logo
  div.category-menu.uk-navbar-right
    ul.menu.uk-navbar-nav
      li.category.uk-active
        a(href='') nav
      li.category.uk-parent
        a(href='') nav
      li.category
        a(href='') nav

//div#offcanvas-right(uk-offcanvas='flip: true; mode: push; overlay: true;')
//  div.uk-offcanvas-bar
//    button.uk-offcanvas-close(type='button', uk-close='')
//    div.uk-section
//      ul.uk-nav.uk-nav-default
//        li.uk-active
//          a(href='#') NAV 1
//        li
//          a(href='#') NAV 2
//        li
//          a(href='#') NAV 3