nav.navbar-container.uk-navbar(style='margin-bottom: 50px; z-index: 980;', uk-sticky='show-on-up: true; animation: uk-animation-slide-top; bottom: #bottom')
  div.uk-navbar-left
    a.uk-navbar-item.uk-logo(href='#') Logo
  div.uk-navbar-right
    ul.nav-menu.uk-navbar-nav
      li.menu.uk-active
        a.title(href='') nav
      li.menu.uk-parent
        a.title(href='') nav
      li.menu
        a.title(href='') nav