extends includes/layout

block contents
  div.uk-container.uk-container-small
    // topic article
    article.uk-margin
      section.topic-card.uk-cover-container.uk-align-center
        img.img(src='images/sample.jpg', alt='', uk-cover)
        canvas(width='400', height='500')
        div.uk-overlay.uk-overlay-primary.uk-position-bottom
          p Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.


    // ranking article list
    div.ranking-article-list(uk-slider='').uk-position-relative.uk-visible-toggle.uk-light
      ul.uk-slider-items.uk-child-width-1-2(class='uk-child-width-1-3@s uk-child-width-1-5@m')
        li.article
          img.img(src='images/sample.jpg', alt='')
          div.uk-position-top.uk-panel
            span.rank.uk-badge 1
          div.summary.uk-overlay-primary.uk-position-bottom
            p Default Lorem ipsum .
        li.article
          img.img(src='images/sample2.jpg', alt='')
          div.uk-position-top.uk-panel
            span.rank.uk-badge 2
          div.summary.uk-overlay-primary.uk-position-bottom
            p Default Lorem ipsum .
        li.article
          img.img(src='images/sample3.jpg', alt='')
          div.uk-position-top.uk-panel
            span.rank.uk-badge 3
          div.summary.uk-overlay-primary.uk-position-bottom
            p Default Lorem ipsum .
        li.article
          img.img(src='images/sample4.jpg', alt='')
          div.uk-position-top.uk-panel
            span.rank.uk-badge 4
          div.summary.uk-overlay-primary.uk-position-bottom
            p Default Lorem ipsum .
        li.article
          img.img(src='images/sample.jpg', alt='')
          div.uk-position-top.uk-panel
            span.rank.uk-badge 5
          div.summary.uk-overlay-primary.uk-position-bottom
            p Default Lorem ipsum .
        li.article
          img.img(src='images/sample3.jpg', alt='')
          div.uk-position-top.uk-panel
            span.rank.uk-badge 6
          div.summary.uk-overlay-primary.uk-position-bottom
            p Default Lorem ipsum .
        li.article
          img.img(src='images/sample4.jpg', alt='')
          div.uk-position-top.uk-panel
            span.rank.uk-badge 7
          div.summary.uk-overlay-primary.uk-position-bottom
            p Default Lorem ipsum .
        li.article
          img.img(src='images/sample2.jpg', alt='')
          div.uk-position-top.uk-panel
            span.rank.uk-badge 8
          div.summary.uk-overlay-primary.uk-position-bottom
            p Default Lorem ipsum .
        li.article
          img.img(src='images/sample4.jpg', alt='')
          div.uk-position-top.uk-panel
            span.rank.uk-badge 9
          div.summary.uk-overlay-primary.uk-position-bottom
            p Default Lorem ipsum .
        li.article
          img.img(src='images/sample2.jpg', alt='')
          div.uk-position-top.uk-panel
            span.rank.uk-badge 10
          div.summary.uk-overlay-primary.uk-position-bottom
            p Default Lorem ipsum .
      a.uk-position-center-left.uk-position-small.uk-hidden-hover(href='#', uk-slidenav-previous='', uk-slider-item='previous')
      a.uk-position-center-right.uk-position-small.uk-hidden-hover(href='#', uk-slidenav-next='', uk-slider-item='next')
      ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin

    // new article list
    article.article-list
      div.categoryTitle
        div.uk-title.title
          p New
      div(class="uk-child-width-1-4@s" uk-grid)
        article.article-card
          section.card.uk-card.uk-card-small
            div.uk-card-media-top.uk-cover-container
              img.img(src='images/sample.jpg', alt='' uk-cover)
              canvas(width='200', height='135')
            div.body.uk-card-body
              //h3.title.uk-card-title Media Top
              p.summary
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        article.article-card
          section.card.uk-card.uk-card-small
            div.uk-card-media-top.uk-cover-container
              img.img(src='images/sample.jpg', alt='' uk-cover)
              canvas(width='200', height='135')
            div.body.uk-card-body
              //h3.title.uk-card-title Media Top
              p.summary
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        article.article-card
          section.card.uk-card.uk-card-small
            div.uk-card-media-top.uk-cover-container
              img.img(src='images/sample2.jpg', alt='' uk-cover)
              canvas(width='200', height='135')
            div.body.uk-card-body
              //h3.title.uk-card-title Media Top
              p.summary
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        article.article-card
          section.card.uk-card.uk-card-small
            div.uk-card-media-top.uk-cover-container
              img.img(src='images/sample3.jpg', alt='' uk-cover)
              canvas(width='200', height='135')
            div.body.uk-card-body
              //h3.title.uk-card-title Media Top
              p.summary
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        article.article-card
          section.card.uk-card.uk-card-small
            div.uk-card-media-top.uk-cover-container
              img.img(src='images/sample4.jpg', alt='' uk-cover)
              canvas(width='200', height='135')
            div.body.uk-card-body
              //h3.title.uk-card-title Media Top
              p.summary
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        article.article-card
          section.card.uk-card.uk-card-small
            div.uk-card-media-top.uk-cover-container
              img.img(src='images/sample3.jpg', alt='' uk-cover)
              canvas(width='200', height='135')
            div.body.uk-card-body
              //h3.title.uk-card-title Media Top
              p.summary
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        article.article-card
          section.card.uk-card.uk-card-small
            div.uk-card-media-top.uk-cover-container
              img.img(src='images/sample4.jpg', alt='' uk-cover)
              canvas(width='200', height='135')
            div.body.uk-card-body
              //h3.title.uk-card-title Media Top
              p.summary
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        article.article-card
          section.card.uk-card.uk-card-small
            div.uk-card-media-top.uk-cover-container
              img.img(src='images/sample3.jpg', alt='' uk-cover)
              canvas(width='200', height='135')
            div.body.uk-card-body
              //h3.title.uk-card-title Media Top
              p.summary
                | Lorem ipsum <d></d>olor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      div.viewmore.uk-align-center
        a.btn View more


    // category article list
    article.article-list
      div.uk-title.categoryTitle
        div.title
          p Category
      div(class="uk-child-width-1-3@s" uk-grid)
        article.article-card
          section.card.uk-card.uk-card-small
            div.uk-card-media-top.uk-cover-container
              img.img(src='images/sample.jpg', alt='' uk-cover)
              canvas(width='200', height='200')
            div.body.uk-card-body
              //h3.title.uk-card-title Media Top
              p.summary
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        article.article-card
          section.card.uk-card.uk-card-small
            div.uk-card-media-top.uk-cover-container
              img(src='images/sample2.jpg', alt='' uk-cover)
              canvas(width='200', height='200')
            div.body.uk-card-body
              //h3.title.uk-card-title Media Top
              p.summary
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        article.article-card
          section.card.uk-card.uk-card-small
            div.uk-card-media-top.uk-cover-container
              img(src='images/sample3.jpg', alt='' uk-cover)
              canvas(width='200', height='200')
            div.body.uk-card-body
              //h3.title.uk-card-title Media Top
              p.summary
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      div.viewmore.uk-align-center
        a.btn(href='/category/test') View more

