doctype html
html(lang="en")

    // head

    head
        title= pageTitle

        // UIkit CSS
        link(rel='stylesheet', href='css/uikit.min.css')

        // UIkit JS
        script(src='js/uikit.min.js')
        script(src='js/uikit-icons.min.js')

    // body

    body
        div#wrapper

            // header

            include template/header

            // section

            div
                section
                    p section

        // footer

        include template/footer