extends includes/layout

block contents
  div#wrapper
    div.uk-container
      // topic article
      article
        section.topic-card.uk-cover-container.uk-width-xxlarge.uk-align-center
          canvas(width='300', height='300')
          img.img(src='images/sample.jpg', alt='', uk-cover)


      // new article list
      article.uk-margin.uk-grid
        div.new-article-list(class="uk-child-width-1-4@s" uk-grid)
          article.article-card
            section.uk-card.uk-card-small.uk-card-hover
              div.uk-card-media-top.uk-cover-container
                img.img(src='images/sample.jpg', alt='' uk-cover)
                canvas(width='200', height='135')
              div.uk-card-body
                h3.title.uk-card-title Media Top
                p.summary
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
          article.article-card
            section.uk-card.uk-card-small.uk-card-hover
              div.uk-card-media-top.uk-cover-container
                img(src='images/sample2.jpg', alt='' uk-cover)
                canvas(width='200', height='135')
              div.uk-card-body
                h3.title.uk-card-title Media Top
                p.summary
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
          article.article-card
            section.uk-card.uk-card-small.uk-card-hover
              div.uk-card-media-top.uk-cover-container
                img(src='images/sample3.jpg', alt='' uk-cover)
                canvas(width='200', height='135')
              div.uk-card-body
                h3.title.uk-card-title Media Top
                p.summary
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
          article.article-card
            section.uk-card.uk-card-small.uk-card-hover
              div.uk-card-media-top.uk-cover-container
                img(src='images/sample4.jpg', alt='' uk-cover)
                canvas(width='200', height='135')
              div.uk-card-body
                h3.title.uk-card-title Media Top
                p.summary
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        div.uk-position-bottom-right.ui-read-more
          a.uk-button.uk-button-text(href='#') Read more

      // category article list
      article.category-article-list
        div.uk-flex-center.uk-margin.uk-grid
          article.article-card
            section.uk-card.uk-card-small.uk-card-hover
              div.uk-card-media-top.uk-cover-container
                img.img(src='images/sample.jpg', alt='' uk-cover)
                canvas(width='200', height='135')
              div.uk-card-body
                h3.title.uk-card-title Media Top
                p.summary
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
          div.uk-margin(class="uk-child-width-1-2@s" uk-grid)
            article.article-card
              section.uk-card.uk-card-small.uk-card-hover
                div.uk-card-media-top.uk-cover-container
                  img.img(src='images/sample.jpg', alt='' uk-cover)
                  canvas(width='200', height='135')
                div.uk-card-body
                  h3.title.uk-card-title Media Top
                  p.summary
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            article.article-card
              section.uk-card.uk-card-small.uk-card-hover
                div.uk-card-media-top.uk-cover-container
                  img(src='images/sample2.jpg', alt='' uk-cover)
                  canvas(width='200', height='135')
                div.uk-card-body
                  h3.title.uk-card-title Media Top
                  p.summary
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.

