extends includes/layout

block contents
  div#wrapper
    div
      section.uk-section
        div(uk-slideshow='autoplay: true')
          ul.uk-slideshow-items
            li
              img(src='image/sample.jpg', alt='', uk-cover='')