@charset "UTF-8";
.body {
  background: #0C0C0C;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif; }

/*----------------------------------------------------
  ナビゲーション
----------------------------------------------------*/
.navbar-container {
  background-color: #0C0C0C; }

/*----------------------------------------------------
  カテゴリメニュー
----------------------------------------------------*/
.category-menu > .menu {
  list-style: none;
  overflow: hidden; }

.category-menu > .category {
  width: 250px; }

/*----------------------------------------------------
  記事リスト
----------------------------------------------------*/
.article-card > .card {
  color: #f8f8f8;
  position: relative;
  transition: all .2s; }

.article-card > .card::before,
.article-card .card::after {
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 2;
  content: '';
  width: 0;
  height: 0;
  border: 2px solid transparent; }

.article-card > .card:hover::before,
.article-card .card:hover::after {
  width: 100%;
  height: 100%; }

.article-card > .card:hover::before {
  border-top-color: #D0104C;
  border-right-color: #D0104C;
  transition: width .3s, height .3s .3s; }

.article-card > .card:hover::after {
  border-bottom-color: #D0104C;
  border-left-color: #D0104C;
  transition: height .3s, width .3s .3s; }

/*-------------------
  カテゴリ別記事リスト
-------------------*/
.category-title > .name {
  color: #f8f8f8; }

.category-title {
  margin-top: 50px;
  text-align: center; }

.category-title > .name {
  font-size: 4em; }

.article-list {
  margin: 5em 0; }

.ranking-article-list > .img {
  width: 250px;
  height: 250px;
  object-fit: contain; }
