@charset "UTF-8";
.body {
  background: #0C0C0C;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif; }

/*----------------------------------------------------
  ナビゲーション
----------------------------------------------------*/
.navbar-container {
  background-color: #0C0C0C; }

/*----------------------------------------------------
  カテゴリメニュー
----------------------------------------------------*/
.category-menu > .menu {
  list-style: none;
  overflow: hidden; }

.category-menu > .category {
  width: 250px; }

/*----------------------------------------------------
  記事リスト
----------------------------------------------------*/
.article-card > .card {
  color: #f8f8f8; }

/*-------------------
  カテゴリ別記事リスト
-------------------*/
.category-title > .name {
  color: #f8f8f8; }

.category-title {
  margin-top: 50px;
  text-align: center; }

.category-title > .name {
  font-size: 4em; }

.article-list {
  margin: 100px 0; }
