header
    div.uk-section-xsmall.uk-section-default(uk-sticky='show-on-up: true; animation: uk-aimation-slide-top;')
        div.uk-container.uk-container-expand
            nav.uk-navbar-container.uk-navbar-transparent(uk-navbar='')
                div.uk-navbar-center
                    a.uk-navbar-item(href='#') site title
                div.uk-navbar-right
                    a(href='#offcanvas-right', uk-icon='icon: grid', uk-toggle='')

    // tab menu

    div.uk-margin-medium-top.tab
        ul.uk-flex-center(uk-tab='')
            li.uk-active
                a(href='#') tab1
            li
                a(href='#') tab2
            li
                a(href='#') tab3
            li
                a(href='#') tab4

    // side menu

    div#offcanvas-right(uk-offcanvas='flip: true; mode: push; overlay: true;')
        div.uk-offcanvas-bar
            button.uk-offcanvas-close(type='button', uk-close='')
            div.uk-section
                ul.uk-nav.uk-nav-default
                    li.uk-active
                        a(href='#') NAV 1
                    li
                        a(href='#') NAV 2
                    li
                        a(href='#') NAV 3